/* color :b-example-divider*/
.b-example-divider {
  height: 2rem;
  background-color: rgb(248, 247, 247);
  border: solid rgb(243, 242, 242);
  border-width: 0px 0;
  box-shadow: inset 0 .5em 1.5em rgb(243, 243, 243), inset 0 .125em .5em rgba(243, 240, 240, 0.993);
}
/* color:Icons+Responsive+(Niv)*/
.bi {
  vertical-align: -.125em;
  fill: currentColor;
}
/*bottom_up*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1px; /* Place the button at the bottom of the page */
  right: 1px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: grey; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 15px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/* bottom_up */
